[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
lxml = "*"
Flask = "*"
requests = "*"
python-telegram-bot = "*"

[dev-packages]

[requires]
python_version = "3.9"
